// -------------------------------------------------------------------- //
// ----------------------------- Mixins ------------------------------- //
// -------------------------------------------------------------------- //

gradient-v50(c1,c2,c3,c4)
	background: linear-gradient(180deg, c1 0%, c2 50%, c3 50%, c4 100%)

gradient-v2(c1,c2)
	background: linear-gradient(180deg, c1 0%, c2 100%)

gradient-v3(c1,c2,c3)
	background: linear-gradient(180deg, c1 0%, c2 50%, c3 100%)