// -------------------------------------------------------------------- //
// ---------------------------- Skeleton ------------------------------ //
// -------------------------------------------------------------------- //

#app
	width: 100vw
	height: 100vh

.coming-soon
	h2
		margin-top: 3em
		text-align: center
		font-size: 1.6em
		font-weight: bold
		color: #fffffa
		text-shadow: 0px -0.05em 0 rgba(#000,.5)