// -------------------------------------------------------------------- //
// --------------------------- Typography ----------------------------- //
// -------------------------------------------------------------------- //

// ------- Sizes ------- //
html
	font-size: 62.5%
h1
	font-size: var(--t-headings-fontSize)
h2
	font-size: calc(var(--t-aMain-headings-fontSize) * 0.9)
h3
	font-size: calc(var(--t-aMain-headings-fontSize) * 0.8)
h4
	font-size: calc(var(--t-aMain-headings-fontSize) * 0.7)
h5
	font-size: calc(var(--t-aMain-headings-fontSize) * 0.6)
h6
	font-size: calc(var(--t-aMain-headings-fontSize) * 0.5)
small
	font-size 0.75em
code
	font-size: 0.8em

// Appearance
areas = {
	"area-menu": {
		title: '.app-title',
		link: '.link',
	},
	"area-navigation": {
		title: '.title',
		link: '.link',
	},
	"area-main": {
		headings: 'h1, h2, h3, h4, h5, h6, .heading-text',
		body: 'p, ul, ol, small, .body-text',
		code: 'code, .code-text'
	}
}

for area in areas
	.{area}
		for section, selectors in areas[area]
			{selectors}
				font-family: "var(--t-%s-%s-typeface)" % (unquote(area) unquote(section))
				font-style: "var(--t-%s-%s-fontStyle)" % (unquote(area) unquote(section))
				font-size: "var(--t-%s-%s-fontSize)" % (unquote(area) unquote(section))
				font-weight: "var(--t-%s-%s-fontWeight)" % (unquote(area) unquote(section))
				line-height: "var(--t-%s-%s-lineHeight)" % (unquote(area) unquote(section))
				text-decoration: "var(--t-%s-%s-textDecoration)" % (unquote(area) unquote(section))
				text-transform: "var(--t-%s-%s-textTransform)" % (unquote(area) unquote(section))
				text-align: "var(--t-%s-%s-textAlign)" % (unquote(area) unquote(section))
				font-variant-ligatures: "var(--t-%s-%s-ligatures)" % (unquote(area) unquote(section))
				letter-spacing: "var(--t-%s-%s-letterSpacing)" % (unquote(area) unquote(section))
				word-spacing: "var(--t-%s-%s-wordSpacing)" % (unquote(area) unquote(section))
				hyphens: "var(--t-%s-%s-hyphens)" % (unquote(area) unquote(section))










// html
// 	@media (max-width: 600px)
// 		font-size: 50%